.accordion-container {
    margin: 0 auto;
    overflow: hidden;
    border-radius: 4px;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.accordion-header {
    display: flex;
    justify-content: space-between;
    padding: 2rem;
    width: 100%;
    background: #18453B;
    border: none;
    outline: none;
    border-bottom: 2px solid #003300;
    color: #f3f3f3;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
}

.accordion-header.active {
    background: linear-gradient(-45deg, #18493e, #18493e, #18493e, #18493e);
}

.accordion-header i {
    transition: all 0.3s ease-in-out;
}

.accordion-header.active i {
    transform: rotate(180deg);
}

.accordion-body {
    padding: 0 1rem;
    background-color: #c9fff3;
    max-height: 0;
    overflow: hidden;
    transition: all 0.3s ease-in-out;
}

.accordion-body.active {
    max-height: 100vh;
    overflow-y: auto;
    padding: 1rem;
}

.accordion-item strong {
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 6px;
}

.skills {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.skills figure {
    max-width: 300px;
    padding: 0.5rem;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.skills figure img {
    width: 50px;
    height: 50px;
    padding: 0.5rem;
}

.github-api {
    text-align: center;
}

.github-api img {
    height: 10rem;
}